// header{
//     width: 100%;
//     nav{
//         width: 100%;
//         height: 50px;
//         background-color: navy;
//         position: relative;


//         h1{
//             color: white;
//             margin: 0;
//         }

//         .box-liste{
//             display: flex;
//             margin-left: 45%;
//             position: absolute;
//             color: white;
            

//             .option{
//                 margin: 10px;
//                 list-style: none;
//                 color: white;
//                 margin-top: 2px;

                
                
//             }
//         }
//     }
// }
header{
    nav{
        width: 100%;
        background-color: navy;
        position: relative;
        height: 80px;
        
        h1{
            position: absolute;
            color: white;
            margin-top: 25px;
            margin-left: 300px;
        }
        ul{
            position: absolute;
            display: flex;
            margin-left: 45%;
            margin-top: 40px;
            
            

            li{
                list-style-type: none;
                :hover{
                    background-color: rgb(66, 64, 190);
                    color:white;
                    padding: 10px;
                    padding-bottom: 23px;
                    border-radius: 3px;
                }


                
                
                a{
                    color: gray;
                    text-decoration: none;
                    margin: 20px;
                    
                    

                }
            }

        }
    }
}




